/node_modules
/public/storage
/storage/*.key
/resources/views/Demo
/resources/views/web_undangan
/public/Demo
/public/Pesanan
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
